<!DOCTYPE html>
<html>
  <head>
    <title>Quick Links | <%= app_url %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="content">
      <h1>Links</h1>
      <ul>
        <% for (var i = 0; i < links.length; i++) {%>
          <li>
            <a href="<%= links[i].url %>"><%= links[i].title %></a>
            <br />
            <span class="remaining_time">[<%= m(links[i].date).fromNow() %>]</span>
          </li>
        <%}%>
      </ul>
      <div id="form">
        <form action="/add" method="post">
          <input type="text" name="url">
          <input type="submit">
        </form>
      </div>
      <div id="footer">
        <a
          href="javascript:(function(){_my_script=document.createElement('script');_my_script.type='text/javascript';_my_script.src='http://<%= app_url %>/link?url=' + encodeURIComponent(document.location.href) + '&title=' + encodeURIComponent(document.title);document.getElementsByTagName('head')[0].appendChild(_my_script);})();">Bookmarklet</a>
      </div>
    </div>
  </body>
</html>
