<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quick Links | <%= app_url %></title>
    <%- css('styles.css') %>
  </head>
  <body data-view="<%= view %>">
    <%- body %>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <%- js('scripts.js') %>
  </body>
</html>
